server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: hotels
          uri: lb://HOTEL-SERVICE
          predicates:
            - Path=/hotels/**
            - Path=/rooms/**
        - id: reservations
          uri: lb://RESERVATION-SERVICE
          predicates:
            - Path=/reservations/**

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
